{
          "version" : "2018-05-29",
          "operation": "Invoke",
          "payload": {
            "args": { "userId": $util.toJson($context.source.id) },
            "request": $util.toJson($context.request)
          }
        }